body {
  background-image: url("./Components/sourcefiles/images/bg.jpg");
}

.App {
  text-align: center;
}

.navbar {
  position: absolute;
  margin-bottom: 20px;
  border-radius: 5px;
}

.footer {
  position: absolute;
  top: 20px;
}

.sidecard {
  float: left;
}